.stepper-row {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.stepper-divider-container {
    height: 90px;
    display: flex;
    align-items: stretch;
    float: left;
    width: 20%;
    
    
}

.stepper-divider-container > div{
    align-items: stretch;
}

.stepper-divider-active {
    height: 45px;
    border-bottom: 1px dotted #333333;
    flex-grow: 1
}

.stepper-divider-non-active {
    height: 45px;
    border-bottom: 1px dotted #8c8c8c;
    flex-grow: 1
}

.stepper-divider-empty {
    height: 45px;
    width: 0px;
}

.step-active {
    height: 90px;
    width: 90px;
    border: 1px dotted #333333;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.step-non-active {
    height: 90px;
    width: 90px;
    border: 1px dotted #8c8c8c;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.step-image {
    position: absolute;
    width: 120px;
    margin-left: -40px;
}

.step-image {
    position: absolute;
    width: 120px;
    margin-left: -40px;
}

.step-selected {
    color: white;
    white-space: pre-line;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    height: 90px;
    width: 240px;
    border-radius: 60px;
    border: 1px solid;
}



.step-selected-getingSerious-color {
    background-color: #33ccff;
    border-color: #33ccff;
}

.step-selected-referenceAndLease-color {
    background-color: #cc66ff;
    border-color: #cc66ff;
}

.step-selected-signaturesAndPayments-color {
    background-color: #ff9933;
    border-color: #ff9933;
}

.step-selected-movingIn-color {
    background-color: #0066ff;
    border-color: #0066ff;
}

.step-selected-activeLease-color {
    background-color: #00ff99;
    border-color: #00ff99;
}


@media only screen and (max-width: 850px) {
    .step-image {
        width: 0px;
    }

    .step-selected {
        height: 90px;
        width: 90px;
        border-radius: 100%;
    }
}